# {{ ansible_managed }}
{% if lamplighter_metrics_token %}
LAMPLIGHTER_METRICS_TOKEN='{{ lamplighter_metrics_token }}'
{% endif %}
{% if lamplighter_oidc_client_secret %}
LAMPLIGHTER_OIDC_CLIENT_SECRET='{{ lamplighter_oidc_client_secret }}'
{% endif %}
