# {{ ansible_managed }}
{% if lamplighter_openbao_addr %}
LAMPLIGHTER_OPENBAO_ROLE_ID='{{ lamplighter_worker_openbao_role_id }}'
LAMPLIGHTER_OPENBAO_SECRET_ID='{{ lamplighter_worker_openbao_secret_id }}'
{% endif %}
